<body class="main-page-body">
    <div class="vulnerability-page">
        <div class="container">
            <div class="risk-chart">
                <h2>Dependencies</h2>

                <% if !@dependencies.empty? %>
                    <% @dependencies.zip(@vulnerability_group).each do |d, vulnerability| %>
                        <div><%= d.file_name %></div>

                         <table class="table vulnerability-table" style="background-color: white;overflow:auto;">
                                <thead>
                                    <tr>Vulnerabilities...</tr>
                                </thead>
                                <tbody>
                                    <% vulnerability.each do |val| %>
                                    <tr>
                                        <td><% vulnerability %></td>
                                    </tr>
                                    <% end %>    
                                </tbody>
                            </table>
                           
                        <% end %>
                <% else %>
                <div>No vulnerable dependencies detected</div>
                <% end %>
            </div>
        </div>
    </div>
</body>