<body class="main-page-body">
    <div class="vulnerability-page">
        <div class="container">
            <div class="risk-chart">
                <h2>Dependencies</h2>

                <% if !@dependency_matches.empty? %>

                    <% @dependency_matches.each_with_index do |dependency, i| %>
                        <% if !@vulnerability_matches[i].empty? %>
                        <div><%= dependency.file_name %></div>

                            <!-- Display vulns -->
                            <table class="table vulnerability-table" style="background-color: white;overflow:auto;">
                                <thead>
                                    <tr>
                                    <td>Vulnerabilities...</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <% @vulnerability_matches[i].each do |v| %>
                                    <tr>
                                        <td><% v.cve_name %></td>
                                    </tr>
                                </tbody>
                                <% end %>
                            </table>
                            <!-- end display vulns -->

                        <% end %>
                    <% end %> 

                <!-- No dependencies stored for this repo -->
                <% else %>
                    <div>No vulnerable dependencies detected</div>
                <% end %>
            </div>
        </div>
    </div>
</body>