<body class="main-page-body">
    <div class="vulnerability-page">
        <div class="container">
            <div class="risk-chart">
                <h2>Dependencies</h2>

                <% if !@dependencies.empty? %>
                    <% @dependencies.each do |d| %>
                        <% @vulnerability_group.each do |vulnerability| %>
                            <div><%= d.file_name %></div>

                            <% if !@vulnerability.nil? %>
                            <% vulnerability.each do |v| %>

                            <table class="table vulnerability-table" style="background-color: white;overflow:auto;">
                                    <thead>
                                        <tr>Vulnerabilities...</tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><% v %></td>
                                        </tr>  
                                    </tbody>
                                </table>
                                <% end %>
                            <% end %>
                            <% end %>  
                    <% end %>
                <% else %>
                    <div>No vulnerable dependencies detected</div>
                <% end %>
            </div>
        </div>
    </div>
</body>