<body class="main-page-body">
    <div class="head">
    </div>
    <div class="vulnerability-description">
        <div class="vul-description-block" style="background-color:white;padding:20px;width:100%;">
        <h3>Description</h3>
        <p>A Java-based implementation of XPath 1.0 that, in addition to XML processing, can inspect/modify Java object graphs (the library&apos;s explicit purpose) and even mixed Java/XML structures.</p>
        </div>
    </div>
</body>