<footer class="footer">
  <small>
    Sponsored by the <a href="http://mdp.engin.umich.edu">MDP Program</a> at the University of Michigan
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="https://www.owasp.org/">OWASP</a></li>
    </ul>
  </nav>
</footer>